name: mybench tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-examples:
    name: Build examples
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build all examples
        run: make

  go-fmt:
    name: Golang lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Disable errcheck as we deliberately ignore certain errors
          args: --disable=errcheck

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: run tests
        run: go test -v ./...
